html {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background-color: #EBFCFB;
  color: #bd5558;
}

.banner-title {
  font-size: 64px;
  text-align: center;
}

h1 {
  text-decoration: underline;
  margin: 0;
}

section {
  padding: 1rem;
  margin: 1em auto;
  width: 90%;
  min-height: 10rem;
  border: 2px #bd5558 solid;
}

.hidden {
  display: none;
}

.message {
  text-align: center;
  font-size: 2rem;

  color: midnightblue;
  background-color: lightblue;
}

.greater {
  color: lightcoral;
  background-color: maroon;
}

.less {
  color: green;
  background-color: greenyellow;
}
