html {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background-color: #EBFCFB;
  color: #bd5558;
}

.banner-title {
  font-size: 64px;
  text-align: center;
}

#greeting {
  font-size: 48px;
  text-align: center;
  color: #db6569;
  margin: 0;
}

h1 {
  text-decoration: underline;
  margin: 0;
}

section {
  padding: 1rem;
  margin: 1em auto;
  width: 90%;
  min-height: 10rem;
  border: 2px #bd5558 solid;
}

.hidden {
  display: none;
}

.message {
  text-align: center;
  font-size: 2rem;

  color: midnightblue;
  background-color: lightblue;
}

.greater {
  color: lightcoral;
  background-color: maroon;
}

.less {
  color: green;
  background-color: greenyellow;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, td {
  border: solid 1px #bd5558;
}

td {
  padding: 1rem;
}

thead {
  background-color: #bd5558;
  color: #EBFCFB;
}

.error-box {
  display: none;
  background-color: firebrick;
  color: white;
  padding: 0.75rem;
  margin: 1rem;
  text-align: center;
}
